*{
    margin: 0px;
    padding: 0px;
    
}
#heading{
    color: white;
    background-color: rgb(10, 10, 43);
    display: inline;
    
}
#display-inline{
    background-color: blue;
    display: inline;
    color: white;
    font-family: 'poppins',sans-serif;
    margin-left: 10px;
    padding: 3PX 3PX;
    word-spacing:0px;
}
.inline{
    background-color: yellow;
}

