*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    color: white;

}

.container{
    width: 400px;
    height: 300px;
    background-image: url('assets/backg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
  
}