*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    color: white;

}

.heading{
    background-color: rgb(14, 14, 51);
    border-radius: 10px;
    padding: 5px 5px;
}
div.bg-img{
    background: url('assets/backg.webp');
    height: 200px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}
div.bg-text{
    font-size: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
